body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avater {
    width: 100px;
}

.card {
    background-color: #ddebf8;
    padding: 20px;
    width: 400px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-decoration: color(srgb#2b2839);

}

.card-border {
    border-bottom: 7px solid #d8cefe;
}